.PageContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .message-container {
        height: 500px;
        width: 500px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .btn-container {
            display: flex;
            justify-content: space-between;

            > button {
                padding: 10px 25px;
                border-radius: 40px;
                background-color: #1da1f2;
                color: #fff;
                border: none;
            }
        }
    }

    .history-container {
        width: 50px;
        margin-left: 50px;
        max-height: 200px;
        overflow: auto;
    }
}
